# Build artifacts
/dist
OfflineTranscribe-cli
OfflineTranscribe-web
*.exe
*.dll

# Audio and data files
*.wav

# Model files
*.bin

# Text files except placeholders in bundle/resources
*.txt
!bundle/resources/**/placeholder.txt